body {
    height: 2000px;
    width: 100vw;
}

.content {
    margin: 0 auto;
    border: 1px solid black;
    width: calc(1160px - 80px);
    padding: 0 40px;
    padding-top: 20px;
}

.title3 {
    background: green;
    height: 40px;
    width: 760px;
    margin: auto auto 40px;
}

.block_blue_3 {
    height: 200px;
    background: blue;
    width: 200px;
    border: 1px solid;
}

.main_block_3 {
    margin-bottom: 40px;
    display: flex;
    align-items: flex-end;
}

.main_block_2 {
    display: flex;
    gap: 80px;
}

.block_grey_3 {
    width: 600px;
    height: 120px;
    background-color: grey;
    margin-left: 40px;
    margin-right: 40px;
    border: 1px solid;
}

.block1 {
    padding-top: 60px;
    padding-bottom: 40px;
}

.block1 h1 {
    height: 40px;
    width: 760px;
    background-color: green;
    margin: 0 auto;
    margin-bottom: 40px;
}

.block1 .row {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.block1 .row .row-block {
    display: flex;
    gap: 120px;
}

.block1 .row .row-block .card {
    padding: 40px;
    outline: 1px solid;

}

.block1 .row .row-block .card p {
    margin: 0;
    height: 160px;
    width: 120px;
    background-color: grey;
}

.block1 .row .row-block .card .img {
    height: 80px;
    width: 120px;
    background-color: blue;
    margin-top: 40px;
}

header{
    background-color: yellow;
    width: 100vw;
    height: 5vw;
}
body{
    margin: 0;
}
footer{
    background-color: red;
    width: 100vw;
    height: 5vw;
}

.imgbox1 {
  width: 160px; 
  height: 160px; 
  border:1px solid; 
  background-color: blue;
  float:left;
  margin-left: 120px;

}

.contentbox1 {
  width: 720px; 
  height: 160px; 
  border:1px solid; 
  margin:0px 120px 0 0;
  background-color: grey;
  float: right;
}

.imgbox2 {
  width: 160px; 
  height: 160px; 
  border:1px solid; 
  background-color: blue;
  float:left;
  margin-left: 120px;
  margin-top: 40px;

}

.contentbox2 {
  width: 720px; 
  height: 160px; 
  border:1px solid; 
  margin:0px 120px 0 0;
  background-color: grey;
  float: right;
  margin-top: 40px;
}